* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  
}

.v4858_361 {
  width: 100%;
  height: 3358px;
  max-width: 1920px;
  min-width: 480px;
  background: rgba(247, 247, 247, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4858_368 {
  width: 100%;
  height: 113px;
  background: url("../images/v4858_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 493px;
  overflow: hidden;
}

.v4858_369 {
  width: 226px;
  height: 113px;
  background: url("../images/v4858_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4858_370 {
  width: 503px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 71px;
  left: 624px;
  font-family: Heebo;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}

.v4858_371 {
  width: 350px;
  height: 29px;
  background: url("../images/v4858_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 777px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v4858_373 {
  width: 53px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.v4858_535 {
  width: 96px;
  height: 33px;
  background: url("../images/v4858_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 1009px;
  overflow: hidden;
}

.v4858_534 {
  width: 155px;
  height: 32px;
  background: url("../images/v4858_534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 979px;
  overflow: hidden;
}

.v4858_362 {
  width: 100%;
  height: 850px;
  background: url("../images/v4858_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 97px;
  overflow: hidden;
}

.v4858_363 {
  width: 100%;
  height: 850px;
  background: url("../images/v4858_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4858_364 {
  width: 804px;
  height: 183px;
  background: url("../images/v4858_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 558px;
  overflow: hidden;
}

.v4858_365 {
  width: 804px;
  color: rgba(114, 84, 63, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v4858_366 {
  width: 160px;
  height: 55px;
  background: rgba(87, 152, 76, 1);
  padding: 16px 31px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 322px;
  overflow: hidden;
}

.v4858_367 {
  width: 98px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  left: 31px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v4858_375 {
  width: 100%;
  height: 190px;
  background: url("../images/v4858_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1028px;
  left: 97px;
  overflow: hidden;
}

.v4858_376 {
  width: 100%;
  height: 190px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4858_377 {
  width: 63px;
  height: 102px;
  background: url("../images/v4858_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 176px;
  overflow: hidden;
}

.v4858_378 {
  width: 63px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 73px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v4858_379 {
  width: 22px;
  height: 53px;
  background: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
}

.v4858_380 {
  width: 227px;
  height: 200px;
  background: url("../images/v4858_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 338px;
  overflow: hidden;
}

.v4858_381 {
  width: 227px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 70px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v4858_382 {
  width: 48px;
  height: 48px;
  background: url("../images/Melon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  overflow: hidden;
}



.v4858_396 {
  width: 62px;
  height: 103px;
  background: url("../images/v4858_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 663px;
  overflow: hidden;
}

.v4858_397 {
  width: 62px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v4858_398 {
  width: 48px;
  height: 52px;
  background: url("../images/Clever.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  border: 0.699999988079071px solid rgba(255, 249, 249, 1);
}

.v4858_399 {
  width: 208px;
  height: 150px;
  background: url("../images/v4858_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 824px;
  overflow: hidden;
}

.v4858_400 {
  width: 208px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v4858_401 {
  width: 42px;
  height: 54px;
  background: url("../images/Sunflower.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 82px;
  border: 0.30000001192092896px solid rgba(239, 237, 235, 1);
}

.v4858_402 {
  width: 72px;
  height: 103px;
  background: url("../images/v4858_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 1130px;
  overflow: hidden;
}

.v4858_403 {
  width: 72px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v4858_404 {
  width: 48px;
  height: 30px;
  background: url("../images/Tomato.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
}

.v4858_405 {
  width: 443px;
  height: 200px;
  background: url("../images/v4858_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 1100px;
  overflow: hidden;
}

.v4858_406 {
  width: 218px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 80px;
  left: 225px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v4858_407 {
  width: 57px;
  height: 58px;
  background: url("../images/Ornmt\ Sunflower.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  overflow: hidden;
}





.name {
  color: #fff;
}

.v4858_437 {
  width: 100%;
  height: 1098px;
  background: url("../images/v4858_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1218px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v4858_442 {
  width: 495px;
  height: 284px;
  background: url("../images/v4858_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 502px;
  overflow: hidden;
}

.v4858_443 {
  width: 199px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v4858_444 {
  width: 495px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 153px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.v4858_461 {
  width: 540px;
  height: 500px;
  background: url("../images/v4858_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 502px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v4858_462 {
  width: 495px;
  height: 251px;
  background: url("../images/v4858_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 1111px;
  overflow: hidden;
}

.v4858_463 {
  width: 248px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v4858_464 {
  width: 495px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 153px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.v4858_481 {
  width: 540px;
  height: 498px;
  background: url("../images/v4858_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1072px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v4858_482 {
  width: 90px;
  height: 90px;
  background: url("../images/v4858_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 727px;
  overflow: hidden;
}

.v4858_483 {
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.3499999940395355);
}

.name {
  color: #fff;
}

.v4858_485 {
  width: 100%;
  height: 640px;
  background: url("../images/v4858_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2316px;
  left: 97px;
  overflow: hidden;
}

.v4858_486 {
  width: 100%;
  height: 640px;
  background: rgba(236, 236, 236, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4858_487 {
  width: 354px;
  height: 261px;
  background: url("../images/v4858_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 399px;
  overflow: hidden;
}

.v4858_488 {
  width: 232px;
  height: 232px;
  background: url("../images/v4858_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 843px;
  overflow: hidden;
}

.v4858_489 {
  width: 295px;
  height: 213px;
  background: url("../images/v4858_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 1206px;
  overflow: hidden;
}

.v4858_490 {
  width: 784px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 70px;
  left: 572px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.v4858_507 {
  width: 243px;
  color: rgba(87, 152, 76, 1);
  position: absolute;
  top: 422px;
  left: 454px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v4858_508 {
  width: 245px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 503px;
  left: 453px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v4858_509 {
  width: 248px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 497px;
  left: 836px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v4858_510 {
  width: 294px;
  color: rgba(50, 73, 80, 1);
  position: absolute;
  top: 497px;
  left: 1200px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v4858_511 {
  width: 183px;
  color: rgba(87, 152, 76, 1);
  position: absolute;
  top: 422px;
  left: 869px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v4858_512 {
  width: 206px;
  color: rgba(87, 152, 76, 1);
  position: absolute;
  top: 422px;
  left: 1244px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.v4858_517 {
  width: 100%;
  height: 76px;
  background: rgba(44, 63, 69, 1);
  opacity: 1;
  position: absolute;
  top: 2956px;
  left: 97px;
  overflow: hidden;
}

.v4858_519 {
  width: 732px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3032px;
  left: 691px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v4858_520 {
  width: 31px;
  height: 31px;
  background: url("../images/Ico_in.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3055px;
  left: 1041px;
  overflow: hidden;
}


.v4858_522 {
  width: 31px;
  height: 31px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 3086px;
  left: 1041px;
  overflow: hidden;
}

.v4858_523 {
  width: 30px;
  height: 30px;
  background: url("../images/Ico_fb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}





.v4858_528 {
  width: 31px;
  height: 31px;
  background: url("../images/Ico_inst.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3117px;
  left: 1041px;
  overflow: hidden;
}



.v4858_530 {
  width: 31px;
  height: 31px;
  background: url("../images/Ico_tube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3148px;
  left: 1041px;
  overflow: hidden;
}



.v4858_532 {
  width: 31px;
  height: 31px;
  background: url("../images/Ico_tw.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3179px;
  left: 1041px;
  overflow: hidden;
}

